#history-wrapper {
    width: 50%;
    margin: 1rem auto;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);

    padding: 2rem;
}

#history-title {
    font-weight: 500;
}

.fight-header {
    width: 100%;
    display: flex;
}

.fight-header__versus {
    margin-left: auto;
}

.expansion-panel-details {
    flex-direction: column;
}

.log__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.history__wrapper {
    display: flex;
    flex-direction: column-reverse;
}