.log-event__wrapper {
    width: 100%;
    display: flex;

    border: 1px solid gray;
    
    box-sizing: border-box;
    padding: 0px 2rem;
}

.log-event__wrapper + .log-event__wrapper {
    margin-top: 0.5rem;
}

.log-event__first-player {
    text-align: left;
}

.log-event__second-player {
    text-align: right;
    margin-left: auto;
}

.log-event__name {
    font-weight: 500;
    font-size: 1.1rem;
}

.log-event__stats-list {
    list-style-type: none;
    padding: 0;
}